/*
Gmail/Reader Tab Notifier
by jasonkarns January 20, 2009 http://jasonkarns.com
Highlight tabs when Gmail and Google Reader have unread items.
*/

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#content tab[label^='Gmail - Inbox ('] {background-color:#DA3838!important;}
#content tab[label^='Google Reader ('] {background-color:#7478AA!important;}
#content tab[label*=' says']{background-color:#61D125!important;}
